* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: green;
}

#salmon-one {
  height: 50%;
  width: 50%;
  float: left;
  margin-left: 20%;
}

h2 {
  float: left;
  font-family: 'Nunito Sans', sans-serif;
  color: gray;
  font-size: 60px;
}

h1 {
  float: left;
  font-family: arial;
  color: red;
  text-align: center;
}

p {
  float: left;
  font-family: Georgia;
  color: yellow;
  text-indent: 50px;
}

li {
  border-style: solid;
  width: 20%;
  font-size: 200%;
  text-align: center;
}

* {
  border: 5px solid black;
}


table {
   table-layout: fixed;
  }
td {
  width: 33%;
 }

#wrap {
  border-radius: 25px;
  width: 80%;
  margin-left: 10%;
  margin-top: 15%

}

#wrap :hover {
background-color: red;
}
