* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: url(img/beach.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

#salmon-one {
  height: 50%;
  width: 50%;
  float: left;
  margin-left: 20%;
}

h2 {
  float: left;
  font-family: 'Nunito Sans', sans-serif;
  color: gray;
  font-size: 60px;
}

h1 {
  float: left;
  font-family: arial;
  color: red;
  text-align: center;
}

p {
  float: left;
  font-family: Georgia;
  color: yellow;
  text-indent: 50px;
}

li {
  border-style: solid;
  width: 20%;
  font-size: 50%;
  text-align: center;
}

* {
  border: 5px solid black;
}
html, body {
  height: 100%
}

table {
   table-layout: fixed;
  }
td {
  width: 33%;
 }

#wrap {
  border-radius: 25px;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  background-color: green;

}

#wrap :hover {
background-color: red;
}
fieldset * {
  border: none;
  height: 20%;
}
body, html{
  border: none;
}
li {
  font-size: 130%;
  margin-left: 40%;
  padding: 0;
}

fieldset {
  border: none;
}
#parrafo {
  margin-left: 23%;
  font-size: 200%;
  color: blue;
  width: auto;
  height: auto;
  background-color: black;
  border-radius: 25px;
  margin-top: 5%;
}
input {
  font-size: 110%;
}
.submit {
  margin-top: 5%;
  width: 140%;
  margin-left: -20%;
  background-color: black;
  border-radius: 50px;
  color: blue;
}
.tableul {
  background-image: url(img/beach.jpg);
  border-radius: 5px;
  margin-top: 2%;
  width: 70%;
  float: left;
  margin-left: 16%
}
.submit:hover {
  transform: scale(2);
}
